body{
    font-family: Open ;
    text-align: center;
}
#mainHeader{
    background-image: linear-gradient(to right bottom, #422755, #391e4a, #301640, #280d36, #20032c);    text-align: center;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    margin:0px;
    margin-bottom: 56px;
    
}
h1{
    padding-top: 140px;
    padding-bottom: 28px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin: 0;
}
#p_MainHeader{
    padding-bottom: 139px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin: 0%;
}
                /* Navbar*/
#navBar{
    margin: 56px 180px 71px 179px;
    justify-content: space-evenly;
    background-image: linear-gradient(to right bottom, #feaf3d, #fc9831, #fa7f2b, #f6652a, #f0462d);    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 26px;
}
form{
    padding-top: 25px;
    padding-bottom: 26px;
    align-content: center;
    margin-left: 108px;

}

.input-group-text{
        padding:0;
    background-image: linear-gradient(to right bottom, #422755, #391e4a, #301640, #280d36, #20032c);    text-align: center;
    border-radius: 104px;
    border: none;
    color:white;
    font-family: Open Sans;
    padding-right: 10px;
     border: top left radius 8px;
    margin-left: 10px;

        }
#navBarElement2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: white;
}
select{
    border-radius: 8px;
    padding: 7px 50px 8px 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-left: 18px;

}

@media (max-width: 1025px)
    {
        #navBar{
            display: block;
            margin: 45px 8px 47px 8px;
            padding:19px 16px 30px 17px;
            max-width;
            max-height:;
            
        }
        #navBarElement2{
            margin-top: 19px;
            
        }
        

    
}

/* Cards*/

.card-deck{
    margin: 0px 175px 82px 184px;
}
.card{
    width: 253px;
    height: 401px;
    padding:13px 14px 13px 17px;
    margin-left: 0px !important;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 14px;
}
.card:nth-of-type(4){
    margin-right: 0px;
}
.card-img-top{
    width: 100%;
    height: 196px;
    object-fit:cover;
   object-position:50% 50%;
    
}
.card-body{
    text-align: left;
    padding: 0px;
}
.card-title{
    margin-bottom: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
}
.card-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    width: auto;
    height: 70px;
}
.prazo{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;

}
.prazolaranja{
    color: #fa7f2b;
    font-weight: bold;
    font-size: 15px;
}
.btn{
    height: 40px;
    left: 201px;
    top: 921px;
    border: 1px solid #422755;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 6px;
    padding:0px 18px 0px 17px;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #422755;
    text-align: center;
    background-color: white; 
}
.btn:hover{
    background-color:#422755 ;
    color: white;
}
.inclusao{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
}
#prazoCurto{
    position: absolute;
    background: #422755;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0px 0px -30px;
    padding:5px 12px 8px 17px;
}
/* Responsive Cards*/
@media (max-width: 1150px){
    .card-deck{
        display:block;
        margin: 45px 8px 47px 8px;
    }
    .card{
        width:100%;
        margin-bottom: 24px !important;      
    }
    .card-img-top{


    
        
    }
    .card-body{
        
        
    }
}


/*Footer*/
footer{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #414141;
    
}
.logoLinx{
    margin:0px 101px 0px 102px ;
    width: 157px;
    height: 94px;
}
.descLinx{
    margin: 40px 25px 40px 26px;
    

}
pre{
    padding:47px 54px 47px 53px;
    margin: 0%;
    justify-content: center;
    background: #422755;
    width: 100%;
    height: 126px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

}
@media (min-width: 1200px){
    .logoeDescLinx{
        display: flex;
    }
    .logoLinx{
        margin: 86px 54px 97px 242px;
        width: 234px;
    height: 137px;
    }
    .descLinx{
        margin: 82px 211px 48px 0px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;

    }

}